{% load widget_tweaks %}
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>To-Do lists</title>
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/base.css" rel="stylesheet">
</head>
<body>
<div class="container">
	<div class="row justify-content-center align-items-center">
		<div class="col-6 jumbotron">
			<div class="text-center">

				<h1>{% block header_text %}{% endblock %}</h1>
				<form method="POST" action="{% block form_action %}{% endblock %}">
					{% if form.errors %}
						{% render_field  form.text  class+="is-invalid" %}
					{% else %}
						{{ form.text }}
					{% endif %}
					
					
					{% if form.errors %}
						<div class="invalid-feedback">
							{{ form.text.errors }}
						</div>
					{% endif %}
					{% csrf_token %}
				</form>
			</div>
		</div>
	</div>

	<div class="row justify-content-center align-items-center">
	<div class="col-6">
		{% block table %}
		{% endblock %}
	</div>	
	</div>

</div>
</body>
</html>